
body{
    background-color: white;
    width: 1500px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 30px 80px;
    height: max-content;
    margin-bottom: 100px;
    overflow-x: hidden;
   
}



.header-section{
display: flex;
gap: 30px;
justify-content: space-between;
margin-top: 10px;

}


#carraLogo{
    margin-top: -40px;
   margin-left: -30px;
  

}
.navigation{
 display: flex;
 gap: 30px;
 margin-bottom: 60px;


}

.navigation a{
   text-decoration: none;
   color: black;

}
.navigation a:hover{
   background-color: blue;
}

.headerIcons{
    margin-left: 300px;
    color: white;
    
    
}


#basket{
    margin-right: 40px;
}

#magnifying-glass{
    margin-left: 40px;
}


.black-shape {
    width: 500px; 
    height: 800px; 
    background-color: rgb(73, 73, 73);
   border-radius: 80px ; 
    position: absolute;
   margin-left:  70%;
   margin-top: -450px;
   transform: rotate(45deg); 
    z-index: -1;
  }
  


.hero-section{
  display: flex;
  margin-top: 80px;
  justify-content: center;


}


#page-headline{
  width: 100%;
  font-size: 100px;
  margin-top: 6px;

}

#home{
    border: dashed grey ;
}


#sub-headline{
   margin-top: 50px;

}

 #start{
   background-color: rgb(83, 82, 82);
   color: white;
   border: none;
   margin:  20px ;
   padding: 30px 50px;
  border-radius: 50px;
   font-size: 15px;
   

 }

 #play-button{
     
    margin:  30px ;
    padding: 20px;
    background-color: rgb(192, 191, 191);
   border-radius: 10px;
   
    
 }
 .action{
   display: flex;
   margin: 20px;

 }
 #press{
 
 margin-top: 50px;
 font-size: 30px;

 }
 .itemTypes{
     display: flex;
     gap: 30px;
    
     
    
 }
 #num1{
    font-size: 40px;
    margin-bottom: 10px;
 }
 #num2{
    font-size: 40px;
    margin-bottom: 10px;
    
 }
 #num3{
    font-size: 40px;
    margin-bottom: 10px;
 }

 .hero-section-image{
    margin-right: 40px;
    max-width: 100%;
 }
 .companyLogos{
    margin: 100px 20px;
     
     
     
  
 }
 #logoIKEA{
  width: 200px;
  margin-bottom: -10px;
  margin-right: 100px;
  

 }
 #dipty{
    width: 200px;
    margin-bottom: -5px;
    margin-right: 30px;
 }
 #desenio{
    width: 200px ;
    margin-left: 30px;
 }
 #benuta{
    margin-left: 50px;
 }

 #westWing{
    width: 200px;
    margin-bottom: 20px;
    margin-left: 100px;
 }

 
  
  .scrollCatalogue{
    display: inline-block;
    f
      .bestSeller{
        display: flex;
        justify-content: space-between; 
      }
  }

 
  
  
 .navigationIcons{
    margin-top: 0;
    margin-left: 1450px;
    display: flex;
    gap: 10px;
    
 }
 .catalogue{
    display: flex;
    margin-top: 20px;
    gap: 50px;
    margin-left: -80px;
 }
 

 #img1, #img2, #img3, #img4{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(245, 241, 232);
    margin: 40px;
    justify-content: center;
    max-width: 100%;
   

 }
 .itemDescription,.itemPrice{
    margin-left: 50px;

 }


 .top-left {
    color: red;
    position: absolute;
    margin-top: 70px;
    margin-left: 70px;
    

 }

 .top-right {
   color: black;
    position: absolute;
    margin-top : 70px ;
    margin-left: 250px;

    
 }

 .section2{
    text-align: center;
    margin-top: 300px;
    margin-bottom: 200px;
    font-size: 30px;
    

 }
 .promotions{
    display: flex;
    gap: 100px;
 }
 .promoImage{
    max-width: 100%;
 }
  .promoDescription{
      font-size: 30px;

  }

 #sectionHeadline{
    width: 70%;
  font-size: 45px;
  
 }

  #shop-button{
    margin:  20px ;
    padding: 30px 50px;
    border: solid black 1px;

   border-radius: 50px;

  }

  .section3{
    margin-top: 200px;
    display: flex;
    gap: 100px;
    justify-content: center;
  }
  .section3Description{
    font-size: 30px;
  }
  .section3Image{
    max-width: 100%;
  }

  #section3Headline{
    width: 70%;
  font-size: 45px;

  }
  .section4{
    margin: 200px;
    text-align: center;
    font-size: 30px;
  }
  .services{
     display: flex;
     gap: 180px;
     justify-content: center;

  }
  #serviceImage1, #serviceImage2, #serviceImage3, #serviceImage4{
       background-color: rgb(75, 73, 73);
       width: 200px;
       height: 200px;
       border-radius: 15px;
       max-width: 100%;


  }

  .section5{
    text-align: center;
    margin: 200px;

    font-size: 30px;
  }

  .section6{
    display: flex;
    gap: 100px;
  }

  .section6Image{
    max-width: 100%;
  }
  .review {
    font-size: 30px; 
  }
 
  .reviewer{
    display: flex;
    gap: 20px;
  }
  .allReviews{
     display: flex;
     gap: 500px;
     margin-top: 60px;
  }
 
  .companyInfo{
    display: flex;
    gap: 250px;
    margin-top: 200px;
    justify-content: center;
  }
  .copyright{
    display: flex;
    margin-top: 100px;
    margin-bottom: 40px;
    gap: 900px;
    justify-content: center;
  }



 